@font-face {
  font-family: "MuseoSansCyrl1";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl1/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSansCyrl1/MuseoSansCyrl.ttf") format("truetype"), url("../fonts/MuseoSansCyrl1/MuseoSansCyrl.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

