@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

#map {
    width: 100%;
    height: 554px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0 auto;
    padding-top: 0 auto;
}

.welcome {
	margin-top: 300px;
    width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
	line-height: 26px;
}

.welcome_schedule {
	margin-top: 50px;
	margin-bottom: 50px;
    width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
	line-height: 26px;
}

.address {
	width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 24px;
	line-height: 50px;
	margin-bottom: 0 auto;
	padding-bottom: 0 auto;
}

	.table_header {
         background-color: #fef7be;
	}

    .table_header1 {
        background-color: #2ba3fb;   
    }

    .small_table_row {
    	background-color: #f4faff;
    }

	.schedule_table {
        margin: 10% auto;
	}

	.cyan {
		background-color: #00d2d4;
	}

	.green {
		background-color: #2cbd55;
	}

	.blue {
        background-color: #2ba3fb;
	}

	.lilac {
        background-color: #8d90fa;
	}

	.red {
		background-color: #ec7424;
	}

	.orange {
		background-color: #ff9d1e;
	}

	.light_green {
		background-color: #40bd84;
	}

	.white_color {
		color: white;
	}

    #my_table {
    	display: none;
    	max-width: 80%;
    	table-layout: fixed;
    }

    #my_small_table {
    	display: none;
    }

    td, th {
        width: 5%;        
    }


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

	.table_header {
         background-color: #fef7be;
	}

	.schedule_table {
        margin: 10% auto;
	}

	.cyan {
		background-color: #00d2d4;
	}

	.green {
		background-color: #2cbd55;
	}

	.blue {
        background-color: #2ba3fb;
	}

	.lilac {
        background-color: #8d90fa;
	}

	.red {
		background-color: #ec7424;
	}

	.orange {
		background-color: #ff9d1e;
	}

	.light_green {
		background-color: #40bd84;
	}

	.white_color {
		color: white;
	}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}