@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

#dc-map {
    width: 100%;
    max-width: 100%;
    height: 554px;
    margin-top: 0 auto;
    padding-top: 0 auto;
}

.dc-welcome {
	margin-top: 300px;
    width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
	line-height: 26px;
}

.dc-welcome_schedule {
	margin-top: 50px;
    width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
    font-weight: 800;
    line-height: 16px;    
}

.dc-price {
	margin-top: 50px;
    width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
    font-weight: 800;
    line-height: 16px;    
}


.dc-address {
	width: 685px;

	color: #383838;
	font-family: Lato;
	font-weight: 800;
	text-transform: uppercase;

	font-size: 24px;
	line-height: 50px;
	margin-bottom: 0 auto;
	padding-bottom: 80px auto;

	b {
		font-size: 24px;
		color:#383838;
		text-transform: uppercase;
		text-align: center;	
		margin: 25px 0 25px 0;	
		font-family: "lato-heavy";
	}
}

	.dc-table_header {
         background-color: #fef7be;
	}

    .dc-table_header1 {
        background-color: #2ba3fb;   
    }

    .dc-small_table_row {
    	background-color: #f4faff;
    }

	.schedule_table {
        margin: 10% auto;
	}

	.dc-cyan {
		background-color: #00d2d4;
	}

	.dc-green {
		background-color: #2cbd55;
	}

	.dc-blue {
        background-color: #2ba3fb;
	}

	.dc-lilac {
        background-color: #8d90fa;
	}

	.dc-red {
		background-color: #ec7424;
	}

	.dc-orange {
		background-color: #ff9d1e;
	}

	.dc-light_green {
		background-color: #40bd84;
	}

	.dc-white_color {
		color: white;
	}

    #dc-my_table {
    	display: none;
    	max-width: 100%;
    	table-layout: fixed;
    	font-family: MuseoSansCyrl;
        line-height: 25px;
        margin: 0 auto;
    }

    .dc-price_table {
        margin: 0 auto;	
    }

    #dc-my_small_table {
    	display: none;
    	color: #383838;
        font-family: MuseoSansCyrl;
        line-height: 16px;
    }

    td, th {
        width: 5%;        
    }

    td {
    	height: 35px;
    }

	.dc-schedule {
		text-align: center;
		margin: 0 auto;
		font-family: "lato-heavy";
		h3{
			font-size: 34px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 25px 0 25px 0;	
			font-family: "lato-heavy";
		}
	}

    .dc-table_header2 {
    	font-family: MuseoSansCyrl;
        font-size: 24px;
        line-height: 26px;
        font-variant: small-caps;
    }

    .dc-table_text {
	    font-family: Lato;
	    font-size: 24px;
		font-weight: 800;
		line-height: 26px;
		font-variant: small-caps;
	}

	#dc-price-tables {
		background-image: url("../img/dc-table-background.jpg");
        background-repeat: no-repeat;
	}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

    #dc-my_table {
    	max-width: 80%;
    }

	.dc-table_header {
         background-color: #fef7be;
	}

	.dc-schedule_table {
        margin: 10% auto;
	}

	.dc-cyan {
		background-color: #00d2d4;
	}

	.dc-green {
		background-color: #2cbd55;
	}

	.dc-blue {
        background-color: #2ba3fb;
	}

	.dc-lilac {
        background-color: #8d90fa;
	}

	.dc-red {
		background-color: #ec7424;
	}

	.dc-orange {
		background-color: #ff9d1e;
	}

	.dc-light_green {
		background-color: #40bd84;
	}

	.dc-white_color {
		color: white;
	}

	#dc-my_table {
    	max-width: 1170px;
    	margin: 0 auto;
    	table-layout: fixed;
    	font-family: MuseoSansCyrl;
        line-height: 25px;
        font-size: 18px;        
    }

    .dc-price_table {
        margin: 0 auto;
        max-width: 1170px;
        table-layout: fixed;
    }

    #dc-price-tables {
        margin: 0 auto;
        max-width: 1170px; 
        h4 {
            font-family: Lato;
			font-size: 32px;
			font-weight: 800;
			line-height: 26px;
			font-variant: small-caps;
        }   	
    }

    td, th {
        width: 3%;        
    }

    #dc-map {
    	max-width: 1170px;
    	margin: 0 auto;
	    height: 557px;
    }
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}