@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

#dc-map {
    width: 100%;
    max-width: 100%;
    height: 554px;
    margin-top: 0 auto;
    padding-top: 0 auto;
}

.dc-welcome {
	margin-top: 300px;
    width: 685px;

	color: #383838;
	font-family: "lato-heavy";
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
	line-height: 26px;
}

.dc-welcome_schedule {
	margin-top: 50px;
    width: 685px;

	color: #383838;
	font-family: "lato-heavy";
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
    font-weight: 800;
    line-height: 16px;    
}

.dc-price {
	margin-top: 50px;
	margin-bottom: 50px;
    width: 685px;

	color: #383838;
	font-family: "lato-heavy";
	font-weight: 800;
	text-transform: uppercase;

	font-size: 34px;
    font-weight: 800;
    line-height: 16px; 
}

.dc-address {
	width: 685px;

	color: #383838;
	font-family: "lato-heavy";
	font-weight: 800;
	text-transform: uppercase;

	font-size: 24px;
	line-height: 50px;
	margin-bottom: 0 auto;
	padding-bottom: 80px auto;

	b {
		font-size: 24px;
		color:#383838;
		text-transform: uppercase;
		text-align: center;	
		margin: 25px 0 25px 0;	
		font-family: ""lato-heavy"-heavy";
	}
}

	.dc-table_header {
         background-color: #fef7be;
	}

    .dc-table_header1 {
        background-color: #2ba3fb;   
    }

    .dc-small_table_row {
    	background-color: #f4faff;
    }

	.schedule_table {
        margin: 10% auto;
	}

	.dc-cyan {
		background-color: #00d2d4;
	}

	.dc-green {
		background-color: #2cbd55;
	}

	.dc-blue {
        background-color: #2ba3fb;
	}

	.dc-lilac {
        background-color: #8d90fa;
	}

	.dc-red {
		background-color: #ec7424;
	}

	.dc-orange {
		background-color: #ff9d1e;
	}

	.dc-light_green {
		background-color: #40bd84;
	}

	.dc-white_color {
		color: white;
	}

    #dc-my_table {
    	display: none;
    	max-width: 100%;
    	table-layout: fixed;
    	font-family: "MuseoSansCyrl1";
        line-height: 25px;
        margin: 0 auto;
    }

    .dc-price_table {
        margin: 50px 50px 50px 50px auto;	
        td {
        	padding: 10px 10px 10px 10px;
        }

        .large_1st_column {
        	width: 30%;
        }
    }

    .dc-price_table_group {
        margin: 50px 50px 50px 50px auto;	
        td {
        	padding: 10px 10px 10px 10px;
        } 
        .large_1st_column {
        	width: 30%;
        }                       
    }


    #dc-my_small_table {
    	display: none;
    	color: #383838;
        font-family: "MuseoSansCyrl1";
        line-height: 16px;
    }

    td, th {
        width: 5%;        
    }

    td {
    	height: 35px;
    }

	.dc-schedule {
		text-align: center;
		margin: 0 auto;
		font-family: ""lato-heavy"-heavy";
		margin-top: 100px;
		margin-bottom: 50px;		
		h3{
			font-size: 24px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 225px 0 25px 0;	
			font-family: ""lato-heavy"-heavy";
		}
	}

	.dc-how {
		text-align: center;
		margin: 0 auto;
		font-family: ""lato-heavy"-heavy";
        margin-bottom: 50px;		
		h3{
			font-size: 24px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 225px 0 25px 0;	
			font-family: ""lato-heavy"-heavy";
		}
	}

    .dc-table_header2 {
    	font-family: "MuseoSansCyrl1";
        font-size: 10px;
        line-height: 26px;
        font-variant: small-caps;
    }

    .dc-table_text {
	    font-family: "lato-heavy";
	    font-size: 10px;
		font-weight: 800;
		line-height: 26px;
		font-variant: small-caps;
	}

	#dc-price-tables {
		background-image: url("../img/dc-table-background.jpg");
        background-repeat: no-repeat;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;        
	}

	#dc-course_price {
		padding: 50px 0 50px 0;
		padding-bottom: 50px;
	}

	.borderless td, .borderless th {
        border: none;
    }

    .dc-want_to_you {
		background-image: url("../img/want_to_you.jpg");
        background-size: auto;
        height: 621px;
        margin: 0 auto;
        width: 100%;
    }

    .dc-questions {
		background-image: url("../img/want_to_you.jpg");
        background-size: auto;
        height: 721px;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 100px;
        margin-top: 100px;
    }

    .dc-want {
        padding-top: 70px;
        b {        
	        font-family: "lato-heavy";
			font-size: 34px;
			font-weight: 800;
			line-height: 26px;
			text-transform: uppercase;
        }
    }

    .dc-input {
    	background-color: #dff1fe;
    	color: #686868;
    	border-radius: 10px;
    }

    .dc-input {
    	background-color: #dff1fe;
    	font-family: "MuseoSansCyrl1";
		font-size: 16px;
		line-height: 41px;
		margin: 10px;
		width: 250px;
		height: 50px;
		margin-top: 30px; 
    }

    .dc-free-lesson {
		font-family: "lato-heavy";
		font-size: 28px;
		font-weight: 800;
		line-height: 41px;
		padding-top: 25px;    	
    }

    .dc-button {
    	background-color: #fde841;
    	border-radius: 10px;
		width: 250px;
		height: 50px;
		margin-top: 30px; 
		color: #686868;
		font-family: "MuseoSansCyrl1";
		font-size: 16px;
		line-height: 41px;
    }

    .dc-container {
    	overflow:hidden;
    	width:98%;
    }
    
    .dc-box {
    	white-space:nowrap
    }
    
    .dc-box div {
    	width:10.57%;
    	height:6.2%;
    	display:inline-block;
    	border:1px solid white
    }

    .dc-box div img {
    	display:inline-block;
    	width:100%;
    	height:100%;
    }

    .dc-box div img:hover {cursor: url("../img/zoom_in.cur")}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

	.dc-schedule {
		text-align: center;
		margin: 0 auto;
		font-family: ""lato-heavy"-heavy";
		margin-top: 100px;
		margin-bottom: 50px;
		h3{
			font-size: 34px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 25px 0 25px 0;	
			font-family: ""lato-heavy"-heavy";
		}
    }    

	.dc-how {
		text-align: center;
		margin: 0 auto;
		font-family: ""lato-heavy"-heavy";
        margin-bottom: 50px;		
		h3{
			font-size: 34px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 125px 0 25px 0;	
			font-family: ""lato-heavy"-heavy";
		}
    }    

    .dc-table_header2 {
    	font-family: "MuseoSansCyrl1";
        font-size: 24px;
        line-height: 26px;
        font-variant: small-caps;
    }

    .dc-table_text {
	    font-family: "lato-heavy";
	    font-size: 24px;
		font-weight: 800;
		line-height: 26px;
		font-variant: small-caps;
	}

	#dc-price-tables {
		background-image: url("../img/dc-table-background.jpg");
        background-repeat: no-repeat;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
	}

	#dc-course_price {
		padding: 50px 0 50px 0;
		padding-bottom: 50px;
	}

	.borderless td, .borderless th {
        border: none;
    }

    .dc-want_to_you {
		background-image: url("../img/want_to_you.jpg");
        background-size: auto;
        height: 421px;
        margin: 0 auto;
        width: 100%;
    }

    .dc-questions {
		background-image: url("../img/want_to_you.jpg");
        background-size: auto;
        height: 421px;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 100px;
        margin-top: 100px;
    }

    .dc-container {
    	overflow:hidden;
    	width:98%;
    }
    
    .dc-box {
    	white-space:nowrap
    }
    
    .dc-box div {
    	width:10.57%;
    	height:6.2%;
    	display:inline-block;
    	border:1px solid white
    }

    .dc-box div img {
    	display:inline-block;
    	width:100%;
    	height:100%;
    }

    .dc-box div img:hover {cursor: url("../img/zoom_in.cur")}    
}

@media only screen and (min-width : 992px) {

    #dc-my_table {
    	max-width: 80%;
    }

	.dc-table_header {
         background-color: #fef7be;
	}

	.dc-schedule_table {
        margin: 10% auto;
	}

	.dc-cyan {
		background-color: #00d2d4;
	}

	.dc-green {
		background-color: #2cbd55;
	}

	.dc-blue {
        background-color: #2ba3fb;
	}

	.dc-lilac {
        background-color: #8d90fa;
	}

	.dc-red {
		background-color: #ec7424;
	}

	.dc-orange {
		background-color: #ff9d1e;
	}

	.dc-light_green {
		background-color: #40bd84;
	}

	.dc-white_color {
		color: white;
	}

	#dc-my_table {
    	max-width: 1170px;
    	margin: 0 auto;
    	table-layout: fixed;
    	font-family: MuseoSansCyrl;
        line-height: 25px;
        font-size: 18px;        
    }

    .dc-price_table {
        margin: 50px 50px 50px 50 auto;	
        max-width: 1170px;
        table-layout: fixed;
        td {
        	padding: 10px 10px 10px 10px;
        }
        .large_1st_column {
        	width: 30%;
        }        
    }

    .dc-price_table_group {
        margin: 50px 50px 50px 50px auto;	
        td {
        	padding: 10px 10px 10px 10px;
        }        
        .large_1st_column {
        	width: 30%;
        }        
    }

    #dc-price-tables {
        margin: 0 auto;
        max-width: 1170px; 
        padding-left: 2%;
        padding-right: 2%;        
        padding-top: 2%;
        padding-bottom: 2%;        
        h4 {
            font-family: "lato-heavy";
			font-size: 32px;
			font-weight: 800;
			line-height: 26px;
			font-variant: small-caps;
        }   	
    }

	#dc-course_price {
		padding: 50px 0 50px 0;
		padding-bottom: 50px;
	}

    td, th {
        width: 3%;        
    }

    #dc-map {
    	max-width: 1170px;
    	margin: 0 auto;
	    height: 557px;
    }

    .dc-schedule {
		text-align: center;
		margin: 0 auto;
		font-family: ""lato-heavy"-heavy";
		margin-top: 100px;		
		margin-bottom: 50px;		
		h3{
			font-size: 34px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 25px 0 25px 0;	
			font-family: ""lato-heavy"-heavy";
		}
	}

    .dc-how {
		text-align: center;
		margin: 0 auto;
		font-family: ""lato-heavy"-heavy";
        margin-bottom: 50px;		
		h3{
			font-size: 34px;
			color:#383838;
			text-transform: uppercase;
			text-align: center;	
			margin: 125px 0 25px 0;	
			font-family: ""lato-heavy"-heavy";
		}
	}

    .dc-table_header2 {
    	font-family: MuseoSansCyrl;
        font-size: 24px;
        line-height: 26px;
        font-variant: small-caps;
    }

    .dc-table_text {
	    font-family: "lato-heavy";
	    font-size: 24px;
		font-weight: 800;
		line-height: 26px;
		font-variant: small-caps;
	}

	#dc-price-tables {
		background-image: url("../img/dc-table-background.jpg");
        background-repeat: no-repeat;
	}

	#dc-course_price {
		padding: 50px 0 50px 0;
		padding-bottom: 50px;
	}

	.borderless td, .borderless th {
        border: none;
    }

    .dc-want_to_you {
		background-image: url("../img/want_to_you.jpg");
        background-repeat: no-repeat;
        height: 291px;
        width: 100%;
        background-size: cover;
    }

    .dc-questions {
		background-image: url("../img/want_to_you.jpg");
        background-repeat: no-repeat;
        height: 311px;
        width: 100%;
        background-size: cover;
        padding-bottom: 100px;
        margin-top: 100px;        
    }

    .dc-container {
    	overflow:hidden;
    	width:98%;
    }
    
    .dc-box {
    	white-space:nowrap
    }
    
    .dc-box div {
    	width:10.57%;
    	height:6.2%;
    	display:inline-block;
    	border:1px solid white
    }

    .dc-box div img {
    	display:inline-block;
    	width:100%;
    	height:100%;
    }

    .dc-box div img:hover {cursor: url("../img/zoom_in.cur")}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}