

.db-block-sledite{
	font-family:"lato-heavy";
	text-align:center;
	// outline: 1px solid red;
	padding:20px 0;
	.db-block-sledite-one{
	// outline: 1px solid red;
padding: 0 6px 54px 5px;
		color: #383838;
	
font-size: 16px;
font-weight: 800;
	}
	.db-block-sledite-two{ 
		height:300px;
	 .video{
	 	// outline: 1px solid yellow;
	 	 margin: 0;
		padding: 0;
		border: none;
		width: 100%;
		height: 100%;
		display:block;
	 }

	}
}

.db-all-content{
text-align:center;

font-family: "lato-heavy";
	.db-all-content-block{
		font-size: 26px;
		font-weight: 800;
		line-height: 17px;
		color: #383838;
		text-transform: uppercase;
		max-width:1100px;
		margin:0 auto;
		// outline:1px solid red;
		.db-h-content{
			// outline:1px solid red;
			padding-top:21px;
			padding-bottom:17px;
			padding-left:10px;
		}
		.db-block-one{
			// outline:1px solid red;
			padding:21px 0;
			text-align: center;
		
		}
		.db-block-two{
			// outline:1px solid red;
			margin:0 auto;
			padding:21px 0;
			img{
				width:510px;
			}
			
		}
	}
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.db-block-sledite-one{

	// outline: 1px solid red;
    padding: 0 99px 54px 108px !important;
		color: #383838;
font-size:28px !important;
font-weight:800px;
	}
		.db-block-sledite-two{ 
		height:632px !important;
	}
	.db-all-content{
	.db-all-content-block{
		
		margin:0 auto;
		// outline:1px solid red;
		.db-h-content{
			// outline:1px solid red;
		}
		.db-block-one{
			// outline:1px solid red;
			    padding-left: 16px;
			float:left;
		}
		.db-block-two{
			// outline:1px solid red;
			float:right;
		}
	}
}

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}