@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

/* Меню для декстопа
=============================*/



.dd-header-wrap{
	width: 100%;
	background:url(../img/headbg.jpg) no-repeat top center;
	background-size:cover;
	height: 300px; 
	.dd-menu-wrap{
		background: rgba(#fff, 0.1);
		.dd-menu-container{
			max-width: 1178px;
			margin: 0 auto;
			.dd-nav{
				display: table;
				li{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					a{
						position: relative;
						display: inline-block;
						font-family: "MuseoSansCyrl1";
						font-size: 16px;
						color:#fff;
						padding: 20px 45px;
						transition: all 0.7s;
						-moz-transition: all 0.7s;
						// outline: 1px solid red;
					}
					a:before{
						background: url(../img/border.jpg) no-repeat;
						position:absolute;
						content:"";
						width: 1px;
						height: 49px;
						left: 0;
						top: 0;
					}
					a:hover{
						background: rgba(#fff, 0.2);
						color:#FDE841;
					}
					a:active{
						background: rgba(#fff, 0.35);
						color:#FFCC00;
					}
				}
				li:nth-child(2){
					a{
						padding: 20px 24px;
					}
				}
				li:nth-child(3){
					a{
						padding: 20px 14px;
					}
				}
				li:nth-child(4){
					a{
						padding: 20px 14px;
					}
				}
				li:nth-child(5){
					a{
						padding: 20px 32px;
					}
				}
				li:nth-child(6){
					
					a{
						padding: 10px 25px;
					}
				}
				li:nth-child(7){
					a{
						padding: 20px 44px;
					}
				}
				li:nth-child(8){
					a{
						padding: 20px 35px;
						position:relative;
					}
					a:after{
						background: url(../img/border.jpg) no-repeat;
						position:absolute;
						content:"";
						width: 1px;
						height: 49px;
						right: 0;
						top: 0;
					}
				}
			}
		}
	}
}

/* Мобильное меню
=============================*/

#check_1{
	display: none;
	position: fixed;
	top: 25px;
	right: 25px;
	font-size: 50px; 
}
.anz-perspective{
	position: fixed;
	top: 0px;
	height: 100%;
	-webkit-perspective: 500px; 
	perspective: 500px;
	z-index: 150;
}

#check_1:checked ~ .anz-perspective{
	transition: all 1s ease-in-out;
	right: 0px;
}
#check_1 ~ .anz-perspective{
	transition: all 1s ease-in-out;
	right: -330px;
}
#check_1:checked ~ .anz-perspective .menu-list-pressed{
	transition: all 1s ease-in-out;
	transform: rotateY(0deg);
}
#check_1 ~ .anz-perspective .menu-list-pressed{
	transition: all 1s ease-in-out;
	transform: rotateY(90deg);
}
.anz-menu-ch{
	cursor: pointer;    
}
.anz-menu{
	text-align: right;
	height:48px;
	background: rgba(#fff, 0.3);
	.dd-mainmenu{
		li{
			a{
				text-transform: uppercase;
				font-family: "MuseoSansCyrl1";
				font-size: 16px;
				color:#fff;
			}
		}
	}
}
.menu-list-pressed{
	border-radius:10px;
	width: 228px;
	height: 100%;
	padding: 30px;
	line-height: 40px;
	background: rgba(#2B66AA, 0.9);
	text-align: left;
}
.anz-menu-ch{
	display: inline-block;
	width: 41px;
	height: 43px;
	font-size: 30px;
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 9999;
}
.anz-menu-ch:hover{
	opacity: 0.3;
}
.main-menu{
	text-align: left;
	position:relative;
}
.dd-logo{
	position:absolute;
	left: 104px;
	top:9px;
}
.anz-menu-ch1{
	display: inline-block;
	width: 41px;
	height: 43px;
	font-size: 30px;
	position: fixed;
	top: 0px;
	right:-8px;
    // opacity: 0.4;
    cursor: pointer;
}
.anz-menu-ch1:hover{
	opacity: 0.8;
}

/* Стили при фиксации меню
=============================*/

.header-no-fixed{
	display:none;
	position:none;
}
.header-fixed{
	position:fixed;
	top:0;
	z-index:999;
	background: rgba(#2B66AA, 0.9);
	width:100%;
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}